<!-- app/views/daily_checkin/home.html.erb -->

<h1>Home Page</h1>

<p>Your selected flowers:</p>

<% @flowers.each do |flower| %>
  <div class="flower" style="background-color: <%= flower.color %>;">
    <p><%= flower.mood %></p>
    <p><%= flower.date_created %></p>
  </div>
<% end %>