<!-- app/views/daily_checkin/index.html.erb -->
<% @moods.each do |mood| %>
  <div class="mood" style="background-color: <%= mood.color %>;">
    <p><%= mood.name %></p>
    <%= link_to "Select #{mood.name}", select_mood_path(mood) %>
  </div>
<% end %>

