<div style="background-image: url('/images/background-ngs.png'); height: 100vh; background-size: cover; background-position: center bottom; background-attachment: fixed;">
  <div style="position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white; font-size: 18px; width: 80%; max-width: 600px; background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px;">
    <p>Strength Through Art programme (stART) is a resilience-building, art exposure programme focused on developing visual and emotional literacy for adolescents aged 13 and up.</p>
    <p>Participants are guided through activities that empower them to turn their creativity into opportunities for self-care. This website aims to equip them with basic knowledge of emotional first aid.</p>
    <p>For more information, email <a href="mailto:outreach@nationalgallery.sg" style="color: #f8f8f8;">outreach@nationalgallery.sg</a></p>
  </div>
  <a href="/users/sign_in" class="btn btn-primary" style="position: absolute; top: 85%; left: 50%; transform: translate(-50%, -50%); padding: 10px 20px; text-decoration: none; color: black; background-color: white; border: none; border-radius: 5px;">
    Sign in or continue as guest to begin your stART journey
  </a>
</div>
