/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .slide-in-left-enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  .slide-in-left-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .slide-in-right-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  .slide-in-right-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .slide-up-enter {
    opacity: 0;
    transform: translateY(100%);
  }
  .slide-up-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .slide-down-enter {
    opacity: 0;
    transform: translateY(-100%);
  }
  .slide-down-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.5s, opacity 0.5s;
  }