.help-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .help-text {
    display: none;
    position: absolute;
    bottom: 50px;
    left: 0;
    background-color: #f9f9f9; /* Softer background color */
    color: #333; /* Softer text color */
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    width: 400px; /* Increased width for better text wrapping */
    max-height: 500px; /* Set a maximum height */
    overflow-y: auto; /* Make it scrollable if content exceeds max height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    word-wrap: break-word; /* Ensure text wraps properly */
    z-index: 1000; /* Ensure it appears above other elements */
  }
  
  .help-icon:hover .help-text {
    display: block;
  }